In [3]:
import pandas as pd
import numpy as np

In [22]:
#df = pd.read_csv('sample_input.csv', index_col='index')
df = pd.read_csv('task_input.csv', index_col='index')

In [23]:
df

        Х1  Х2   Х3  Х4  Х5
index
Р1     187  45  8.5  10  63
Р2     250  35  7.1  11  57
Р3     224  30  5.4  13  55
Р4     199  44  6.3  10  58
Р5     182  32  7.5  11  63
Р6     169  40  8.1  15  49
Р7     208  32  8.9  12  65

In [24]:
df_normalized = df / df.sum()
df_normalized['Wij'] = df_normalized.values.sum(axis=1)
df_normalized

             Х1        Х2        Х3        Х4        Х5       Wij
index
Р1     0.131783  0.174419  0.164093  0.121951  0.153659  0.745904
Р2     0.176180  0.135659  0.137066  0.134146  0.139024  0.722076
Р3     0.157858  0.116279  0.104247  0.158537  0.134146  0.671067
Р4     0.140240  0.170543  0.121622  0.121951  0.141463  0.695818
Р5     0.128259  0.124031  0.144788  0.134146  0.153659  0.684883
Р6     0.119098  0.155039  0.156371  0.182927  0.119512  0.732946
Р7     0.146582  0.124031  0.171815  0.146341  0.158537  0.747306

In [25]:
Wij = df_normalized['Wij'].values
dist = np.abs(Wij[:, None] - Wij[None, :])
df_dist = pd.DataFrame(data=dist, index=df_normalized.index, columns=df_normalized.index)
df_dist

index        Р1        Р2        Р3        Р4        Р5        Р6        Р7
index
Р1     0.000000  0.023828  0.074837  0.050085  0.061021  0.012958  0.001402
Р2     0.023828  0.000000  0.051009  0.026257  0.037193  0.010871  0.025230
Р3     0.074837  0.051009  0.000000  0.024752  0.013816  0.061880  0.076239
Р4     0.050085  0.026257  0.024752  0.000000  0.010936  0.037128  0.051487
Р5     0.061021  0.037193  0.013816  0.010936  0.000000  0.048064  0.062423
Р6     0.012958  0.010871  0.061880  0.037128  0.048064  0.000000  0.014359
Р7     0.001402  0.025230  0.076239  0.051487  0.062423  0.014359  0.000000

In [26]:
minPi = np.sort(dist, axis=1)[:, 1]
df_dist['Min Pi'] = minPi
df_dist

index,Р1,Р2,Р3,Р4,Р5,Р6,Р7,Min Pi
index,,,,,,,,
Р1,0.000000,0.023828,0.074837,0.050085,0.061021,0.012958,0.001402,0.001402
Р2,0.023828,0.000000,0.051009,0.026257,0.037193,0.010871,0.025230,0.010871
Р3,0.074837,0.051009,0.000000,0.024752,0.013816,0.061880,0.076239,0.013816
Р4,0.050085,0.026257,0.024752,0.000000,0.010936,0.037128,0.051487,0.010936
Р5,0.061021,0.037193,0.013816,0.010936,0.000000,0.048064,0.062423,0.010936
Р6,0.012958,0.010871,0.061880,0.037128,0.048064,0.000000,0.014359,0.010871
Р7,0.001402,0.025230,0.076239,0.051487,0.062423,0.014359,0.000000,0.001402

In [27]:
maxPj = np.max(minPi)
print(f'Критична відстань r = {maxPj}')

Критична відстань r = 0.013816121076472787

In [28]:
dist < maxPj

array([[ True, False, False, False, False,  True,  True],
       [False,  True, False, False, False,  True, False],
       [False, False,  True, False, False, False, False],
       [False, False, False,  True,  True, False, False],
       [False, False, False,  True,  True, False, False],
       [ True,  True, False, False, False,  True, False],
       [ True, False, False, False, False, False,  True]])

In [29]:
def get_clusters(G, names):
    st = np.zeros(len(G))
    
    res = []
    
    for i in range(len(st)):
        if st[i]!=0:
            continue
            
        curr_cluster = []
        q = [i]
        st[i] = 1
        while len(q):
            u = q.pop(0)
            curr_cluster.append(names[u])
            
            for v in range(len(st)):
                if G[u,v] and (st[v]==0):
                    st[v] = 1
                    q.append(v)
        res.append(curr_cluster)
        
    return res

In [30]:
clusters = get_clusters(dist<maxPj, df.index)
for idx, cluster in enumerate(clusters):
    print(f'Cluster #{idx+1}: {", ".join(cluster)}')

Cluster #1: Р1, Р6, Р7, Р2
Cluster #2: Р3
Cluster #3: Р4, Р5